/*#carousel {
     border: 2px solid;
     height: 300 px;
	 width: 100 %;
	 overflow: auto;
	
    
}
img {
	height: 300px;
	width: 400px;
	float: left;
	
}
ul {
	list-style-type: none;
    position: relative;
    margin: 0;
    left: 0;
}
li {
	
	list-style-type: none;
	float: left;
  
	
}
.btn {
	position: absolute;
	width: 40px;
	height: 40px;
}
#btn2 {
    position: relative;
    float: right;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    clear: both;
    display: block;
}
*/
/*#carousel {
    width: 2000px;
    height: 400px;
    overflow: auto;
    border: solid;
}

#carousel .slides {
    display: block;
    width: 2000px
    height: 400px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#carousel img {
    float: left;
    list-style-type: none;
    width: 400px;
    height: 400px;
}
*/
body {
    background-color: #ccc7c76b;
    text-decoration: none;
}
.column {
    margin: 15px;
    float: left;
    width: 300px;
    border-radius: 2%;
    background-color: white;
    width: 300px;
    min-height: 500px;
}
.column-title {
    font-size: 30px;
    margin-bottom: 5px;
  }
.btn-delete {
    background: #855a5a;
    height: 25px;
    width: 25px;
    color: white;
    text-decoration: none;
    margin: 30px;
}
.add-card {
    background: #bfc4c7;
    font-size: 20px;
    padding: 0;
    margin-right: 30%;
}
.card {
    background-color: white;
    
}
.create-column {
    background-color:  #855a5a;
    color: white;
    border-radius: 3%;
    font-size: 20px;
    margin: 10px;
}
.card-description {
    display: inline-block;
    max-width: 75%;
    padding-left: 5px;
  }
  .column-card-list {
    min-height: 300px;
    width: 100%;
    padding: 2px;
   }
  .column-card-list li{
    list-style-type: none;
    min-height: 20px;
    margin: 5px;
    text-align: left;
  }
.board {
    text-align: center;
    }
